footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4.5rem 0;
  text-align: center;
  background-color: $footer-background;

  margin-top: 4rem;
  border-top-right-radius: 100px;
  .logoholder img {
    width: 5rem;
  }
  .footerLink {
    margin-top: 5rem;

    a {
      color: $footer-text;
    }
  }
  .footerLinkItem {
    > a {
      font-size: 1.125rem;
      font-weight: 700;
    }
    &:not(:first-of-type) {
      margin-top: 3.125rem;
    }
  }

  .footerSubLinkItem {
    margin-top: 2.5rem;
    li:not(:last-of-type) {
      margin-bottom: 0.8rem;
    }

    a:hover {
      font-weight: 500;
    }
  }
}

@media (min-width: 50em) {
  footer {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    padding: 5rem 0;
    padding-left: 10rem;

    margin-top: 15rem;
    .footerLink {
      width: 100%;
      margin-top: unset;

      > ul {
        display: flex;

        justify-content: space-evenly;
      }
    }

    .footerLinkItem {
      &:not(:first-of-type) {
        margin-top: unset;
      }
    }
  }
}
