$CTA-text: hsl(356, 100%, 66%);
$CTA-hover-background: hsl(355, 100%, 74%);
$headings: hsl(208, 49%, 24%);
$text-white: hsl(0, 0%, 100%);
$footer-text: hsl(240, 2%, 79%);
$body-copy: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);
$intro-CTA-gradient-1: hsl(13, 100%, 72%);
$intro-CTA-gradient-2: hsl(353, 100%, 62%);
$body-gradient-1: hsl(237, 17%, 21%);
$body-gradient-2: hsl(237, 23%, 32%);
