@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import 'variables';
@import 'header';
@import 'section';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    margin: 0;
    padding: 0;
  }
}

html {
  font-size: 16px;
}

body {
  font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  overflow-x: hidden;
}

a,
a:visited,
a:hover,
a:active {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  pointer-events: none;
}
h1,
h2,
h3 {
  color: $headings;
  z-index: 1;
}
